.artist-container {
  grid-area: artist;
}

.artist__title {
  color: #aaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}

.artist__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 1024px) {
  .artist-container {
    align-self: flex-end;
  }
}
@media screen and (max-width: 544px) {
  .artist-container {
    max-width: 288px;
    min-height: 89px;
    align-self: flex-start;
    padding-left: 16px;
  }
}
