@media screen and (max-width: 1024px) {
  .header {
    padding-top: 30px;
  }
  .header__logo {
    max-width: 254px;
    max-height: 66px;
  }
  .header__title {
    margin-top: 90px;
    padding: 0;
    font-size: 75px;
    line-height: 1.05;
    text-align: center;
  }
  .header__subtitle {
    margin-top: 25px;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
  }
  .header__image {
    margin: 39px 0 0;
    padding: 0;
    max-height: 480px;
    width: 100%;
  }
  .main {
    margin: 90px 0 0 24px;
    padding: 0;
  }
  .main__title {
    font-size: 45px;
    line-height: 1.08;
    margin: 0;
    padding: 0;
  }

  .cite__title {
    margin: 50px 0 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.42;
  }

  .cite__author {
    margin: 8px 24px 0 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.42;
  }

  .cite__content {
    margin: 32px 24px 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.63;
  }

  .footer__rights {
    margin: 88px 0 24px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 20px;
  }
  .header__logo {
    max-width: 188px;
    max-height: 52px;
  }
  .header__title {
    margin-top: 50px;
    font-size: 40px;
    line-height: 1.1;
    display: flex;
  }
  .header__span-acent {
    display: contents;
  }
  .header__subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
  .header__image {
    margin-top: 40px;
    max-height: 200px;
  }
  .main {
    margin-top: 64px;
  }

  .main__title {
    font-size: 32px;
    line-height: 1.09;
  }
  .cite__title {
    margin-top: 40px;
    font-size: 24px;
    line-height: 1.25;
  }
  .cite__author {
    margin-top: 10px;
    font-size: 24px;
    line-height: 1.42;
  }
  .cite__content {
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.63;
  }
  .footer__rights {
    margin-top: 64px;
    font-size: 14px;
    line-height: 1;
  }
}
